<h1 class="page-header"> {{pageTitle}}</h1>

<form name="my_form" class="form-horizontal col-sm-12" novalidate>
  <div class="row form-group">
    <label class="control-label col-sm-2" for="txtCoin">Coin</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="txtCoin" name="txtCoin" placeholder="Coin Name" [(ngModel)]="coinId">
    </div>

    <label class="control-label col-sm-2" for="txtQty">Quantity</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="txtQty" name="txtQty" placeholder="Quantity" [(ngModel)]="qty">
    </div>
  </div>

  <div class="row form-group">
    <label class="control-label col-sm-2" for="txtPrice">Price</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="txtPrice" name="txtPrice" placeholder="Price" [(ngModel)]="price">
    </div>

    <label class="control-label col-sm-2" for="txtDate">Date</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" id="txtDate" name="Date" placeholder="Date" [(ngModel)]="date">
    </div>
  </div>

  <div class="row form-group">
    <label class="control-label col-sm-2" for="ddlType">Trade type</label>
    <div class="col-sm-3">
      <select class="form-control" id="ddlType" name="Trade type" [disabled]="true">
          <option value="buy">Buy</option>        
          <option value="sell">Sell</option>        
      </select>
    </div>

    <label class="control-label col-sm-2" for="ddlExchange">Exchange</label>
    <div class="col-sm-3">
      <!--<select class="form-control" name="Exchange" ng-model="selectedExchange" ng-options="x.name for x in availableExchanges"></select>-->
      <select class="form-control" name="Exchange" [disabled]="true" [(ngModel)]="selectedExchange">
                  <!--<option>--Select Exchange--</option>-->
        <option *ngFor="let exchange of availableExchanges" value= {{exchange.id}}>
          {{exchange.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-offset-6 col-sm-2">
      <button type="button" class="btn btn-danger btn-block" (click)="resetForm()" ng-disabled="!my_form.$dirty">
                    <span class="glyphicon glyphicon-refresh"></span> Reset
                  </button>
    </div>
    <div class="col-sm-2">
      <!--<input type="button" class="btn btn-primary btn-block" ng-click="addChefTask(my_form)" ng-disabled="my_form.$invalid" value="Add Task" />                -->
      <button type="button" class="btn btn-primary btn-block" (click)="addTrade()" ng-disabled="my_form.$invalid">
                  <span class="glyphicon glyphicon-plus"></span> Add Trade
      </button>
    </div>
  </div>

  <!-- Table-->
  <div class="col-md-12 form-group">
    <table class="table">
      <tr>
        <th>Coin</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Date</th>
        <th>Exchange</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let trade of tradeHistory">
        <td><span>{{ trade.coinId }}</span></td>
        <td><span>{{ trade.qty }}</span></td>
        <td><span>{{ trade.price }}</span></td>
        <td><span>{{ trade.date }}</span></td>
        <td><span>{{ trade.exchange }}</span></td>
        <td>
          <a role="button" (click)="deleteTradeHistory($index)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </table>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-7 col-sm-2">
      <button type="button" class="btn btn-success btn-block" (click)="submit()">
                <span class="glyphicon glyphicon-floppy-save"></span> Submit
              </button>
    </div>
  </div>


</form>