/* You can add global styles to this file, and also import other style files */
body{
    background:#f4f4f4;;
}

.navbar{
    color:#555555;
    background-color: #555555;
}

.page-header{            
    padding: 5px 5px;
    border-bottom: 2px solid #eaac53 ;
}

.lossText{
    /*color: red; */
    color: #bb1818;
}

.profitText{
    /*color:#14d014;*/
    color: #397939;
}

.loss{
    color: white; 
    background-color:#bb1818;
}

.profit{
    color: white;
    background-color: #397939;
}

/*Table css*/
/*tr:nth-child(even) {background-color: #f2f2f2;}*/
tr:nth-child(even) {background-color: #e6e6e6}
/*tr:hover {background-color:lightblue}*/

td{
    height: 5px !important;
}

/*Accordion*/
.accordion, .accordion a{    
    background-color:#eaac53;
    /*background-color: #f97849;*/
    /*background-color:maroon;*/
    margin:5px 0;
    color: white;
    font-size: 1.4em;    
    text-decoration: none;    
}

.glyphicon-trash{
    color:#f10c0c;
}

.totalRowGreen{
    /*background-color:#99c38e !important;*/
    color: white ;
    background-color: grey !important;
}

.navbar-brand{
    color: white !important;
    font-size:22px !important;
}

.navbar-brand:hover{
    font-size:25px !important;
    color: white !important;
}

.upload-input {
  display: none !important;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

div.seperator{ padding:0 20px!important;}
div.seperator h3 { width:100%; text-align:center; border-bottom: 1px solid #eaac53; line-height:0.1em; margin:10px 0 20px;} 
div.seperator h3 span { background:#f4f4f4;   padding:0 10px; }

.textCenter{
    text-align: center;
}

.textSize{
    font-size: 1.5em;
}

.contentDiv{
    height: 100% !important;
}

.dashboardRow{    
    height:300px;
}

.dashboardRow > div{    
     background: white;
    border: 1px solid lightgrey;    
}

.dashboardRow > div > chart > div{
    padding:5px;
}



.pieChart{
    float: right;
    margin-right: 20px;
}

.pieChart>chart>div{
    width:100% !important;
    /*margin-left: 20px;    */
}